$heroHeight: 350px;

/* Body */
body {
  background: #e9e9e9 image-url('background.png') 0 0 repeat;
}

::selection, ::-moz-selection {
  background: $highlightColor;
}

/* Links */
a { 
  color: $txtColor;
  border-bottom: 1px solid $highlightColor;
}

a:hover {
  color: $highlightColor;
  -webkit-transition: color 0.15s linear;
}

h1, h2, h3, h4, h5, h6 {
  a {
    border: none;
  }
}

a.fc-webicon, ul.breadcrumbs li a, a.close, ul.pagination li a {
  border: none;
}

a.external {
  background: image-url('external.png') 100% 50% no-repeat;
  padding-right: 14px;
}

/* Web icons */
ul.social_icons {
  list-style: none;
  float: right;
  margin-top: 1.1em;

  li {
    float: left;
    margin-right: 1em;
  }
}

/* Buttons */
.button.secondary:hover {
  background-color: $highlightColor;
}

/* Forms */
form {
  label {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 1.5em;
    &.error {
      margin-top: 0;
    }
  }
  input.error {
    margin-bottom: 0.2em;
  }
}

/* Top bar navigation */
.top-bar {
  font-family: $headerFontFamily;

  section {
    ul li a, ul li a:hover {
      border: none;
    }

    ul > li a:not(.button) {
      padding: 0 15px;
    }

    ul li.name a {
      padding-left: 0;
    }

    ul.right li a {
      font-size: 0.85em;
      padding: 0 10px;
      color: #777;
    }

    ul li a.icon_link {
      padding-top: 8px;
    }
  }
}

/* Page container */
div.page {
  background-color: #fff;
  margin-bottom: 1em;
  padding: 20px;
  a#content {
    position: absolute;
    top: -($topBarHeight);
  }
}

/* Page header */
header.hero {
  height: $heroHeight;
  color: #fff;
  overflow: hidden;
  div.intro_wrapper { display: table; height: $heroHeight; }
  div.intro { display: table-cell; height: 100%; vertical-align: middle; }
  h1 { color: $highlightColor; text-shadow: 1px 1px #333; }
  h4 { color: #fff; text-shadow: 1px 1px #333; line-height: 1.3; }
  h1 a { color: $highlightColor; border-bottom: none; }
}

/* Footer */
footer {
  p {
    font-size: 0.8em;
  }
  a[rel="license"] {
    float: right;
    border: none;
  }
}

/* Images */
img.right {
  border: 1px solid #ddd;
  @include border-radius(3px);
  @include box-shadow(#ddd 1px 1px 1px);
  padding: 3px;
  text-align: right;
  margin-left: 1em;
  margin-bottom: 1em;
  &.plain {
    border: none;
    @include box-shadow(#fff 0 0 0);
  }
}

/* Blog articles */
div.articles {
  hr {
    margin: 2em 0 3em 0;
    border-color: #e1e1e1;
    border-style: dotted;
  }
}

article {
  h3 {
    text-transform: uppercase;
    margin-top: 0;
  }
}

ul.read_next {
  list-style: none;
  border-top: 1px solid #e1e1e1;
  padding-top: 1em;
  margin-top: 2em;
  li { 
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    a {
      text-transform: uppercase;
    }
    &:last-child {
      text-align: right;
    }
  }
}

#disqus_thread {
  clear: both;
  padding-top: 2em;
}

p.synthesis_comments {
  font-style: italic;
}

ul.pagination {
  border-top: 1px dotted #e1e1e1;
  padding-top: 1em;
  margin-top: 1.5em;
  li {
    margin-left: 10px;
  }
}

aside {
  li { 
    font-size: 12px;
    font-weight: bold;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans serif;
    color:#747474;
  }
}
aside ul {
  list-style: none;
}

aside ul.credit{
  margin-top: 0px;
}

aside ul.credit time {
  display: block;
}

aside ul.tags li {
  display: inline;
}

.share-btns {
  margin: 0;
  float: left;
}

.read-later, .share {
  display: block;
  position: relative;
  float: left;
  margin: 10px 5px 0px 0px;
}

.share_links_wrapper, .read-later_wrapper {
  display: none;
  position: absolute;
  top: 3px;
  right: 0;
  z-index: 100;
}

.share_links {
  position: absolute;
  z-index: 100;
}

.share_links_wrapper .share_links {
  height: 103px;
  width: 196px;
  background:transparent url('/images/like-bg.png') 0 0 no-repeat;
  top: 23px;
  left: -150px;
}

.share_links a {
  background-color: transparent !important;
}

.share_links .share-twitter {
  position: absolute;
  left: 21px;
  top:20px;
}

.share_links .share-facebook {
  position: absolute;
  left: 106px;
  top:20px;
}

.share_links .share-gplus {
  position: absolute;
  left: 21px;
  top:55px;
}

.read-later_wrapper .share_links {
  height: 76px;
  width: 181px;
  background:transparent url('/images/rl-bg.png') 0 0 no-repeat;
  top:20px;
  left: -90px;
  color:#747474;
}

.read-later_wrapper .share_links div {
  position: absolute;
  top:8px;
  left:12px;
  p {
    font-size: 12px;
    text-align:center;
    padding-top: 8px;
    margin-bottom: 10px;
  }
}

.read-later_wrapper .share_links ul {
  margin:-10px auto;
  padding:0;
  list-style:none;
}

.read-later_wrapper .share_links ul li {
  float:left;
}

.read-later_wrapper .share_links ul li:first-child:after{
  content: "\2219";
  /*  font-size:15px;*/
  margin: 0 10px 0 10px;
}

.read-later_wrapper .share_links ul li a{
  color:#d5391a;
  font-weight:bold;
}

@media only screen and (max-width: $screenSmall - 1) {
  aside.columns {
    margin-top: 1em;
    padding-left: 2em;
    ul.meta {
      clear: left;
      padding-top: 1em;
    }
    ul.tags li {
      float: left;
      display: inline;
      margin-top: 0.5em;
      margin-right: 0.5em;
    }
  }
}

@media only screen and (max-width: $screenXsmall - 1) {
  div.page {
    padding: 20px 7px;
  }
}
