@import "_foundation_settings";
@import "compass/css3";
$hero-height: 350px;

/* Body */
body {
  background: #e9e9e9 image-url('background.png') 0 0 repeat;
}

::selection, ::-moz-selection {
  background: $highlight-color;
}

/* Links */
a { 
  color: $body-font-color;
  border-bottom: 1px solid $highlight-color;
}

a:hover {
  color: $highlight-color;
  -webkit-transition: color 0.15s linear;
}

h1, h2, h3, h4, h5, h6 {
  a {
    border: none;
  }
}

a.fc-webicon, ul.breadcrumbs li a, a.close, ul.pagination li a {
  border: none;
}

a.external {
  background: image-url('external.png') 100% 50% no-repeat;
  padding-right: 14px;
}

/* Web icons */
ul.social_icons {
  list-style: none;
  float: right;
  margin-top: 1.1em;

  li {
    float: left;
    margin-right: 1em;
  }
}

/* Buttons */
.button.secondary:hover {
  background-color: $highlight-color;
}

/* Forms */
form {
  label {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 1.5em;
    &.error {
      margin-top: 0;
    }
  }
  input.error {
    margin-bottom: 0.2em;
  }
}

/* Top bar navigation */
.top-bar {
  font-family: $header-font-family;

  ul li a, ul li a:hover {
    border: none;
  }

  section {
    ul > li a:not(.button) {
      padding: 0 15px;
    }

    ul.right li a {
      font-size: 0.85em;
      padding: 0 10px;
      color: #777;
    }
  }
}

/* Page container */
div.page {
  background-color: #fff;
  margin-bottom: 1em;
  padding: 20px;
  a#content {
    position: absolute;
    top: -($topbar-height);
  }
}

/* Page header */
header.hero {
  height: $hero-height;
  color: #fff;
  overflow: hidden;
  div.intro_wrapper { display: table; height: $hero-height; }
  div.intro { display: table-cell; height: 100%; vertical-align: middle; }
  h1 { color: $highlight-color; text-shadow: 1px 1px #333; font-size: 2.75em; }
  h4 { color: #fff; text-shadow: 1px 1px #333; line-height: 1.3; font-size: 1.5em; }
  h1 a { color: $highlight-color; border-bottom: none; }
}

/* Footer */
footer {
  p {
    font-size: 0.8em;
  }
  a[rel="license"] {
    float: right;
    border: none;
  }
}

/* Images */
img.right {
  border: 1px solid #ddd;
  @include border-radius(3px);
  @include box-shadow(#ddd 1px 1px 1px);
  padding: 3px;
  text-align: right;
  margin-left: 1em;
  margin-bottom: 1em;
  &.plain {
    border: none;
    @include box-shadow(#fff 0 0 0);
  }
}

/* Blog articles */
div.articles {
  hr {
    margin: 2em 0 3em 0;
    border-color: #e1e1e1;
    border-style: dotted;
  }
}

article {
  h3 {
    text-transform: uppercase;
    margin-top: 0;
  }
}

ul.read_next {
  list-style: none;
  border-top: 1px solid #e1e1e1;
  padding-top: 1em;
  margin-top: 2em;
  li { 
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    a {
      text-transform: uppercase;
    }
    &:last-child {
      text-align: right;
    }
  }
}

#disqus_thread {
  clear: both;
  padding-top: 2em;
}

p.synthesis_comments {
  font-style: italic;
}

ul.pagination {
  border-top: 1px dotted #e1e1e1;
  padding-top: 1em;
  margin-top: 1.5em;
  li {
    margin-left: 10px;
  }
}

aside {
  ul {
    list-style: none;
    li { 
      font-family: 'Helvetica Neue', Helvetica, Arial, sans serif;
      color: #747474;
    }
  }

  ul.credit {
    font-size: emCalc(12px);
    font-weight: bold;
    margin-top: 0px;
    time {
      display: block;
    }
  }
}

div.share-buttons {
  margin-top: 2em;
  li.share-twitter {
    width: 107px;
  }
  li.share-facebook {
    width: 90px;
  }
  li.share-gplus {
    width: 90px;
  }
}

h6.section {
  font-size: emCalc(11px);
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 0.7em;
}

// Foundation fix can't get variables to work for some reason
.top-bar-section ul li a:hover {
  background-color: #fff;
}

@media only screen and (max-width: $small-screen - 1) {
  aside.columns {
    margin-top: 1em;
    padding-left: 2em;
    ul.meta {
      clear: left;
      padding-top: 1em;
    }
    ul.tags li {
      float: left;
      display: inline;
      margin-top: 0.5em;
      margin-right: 0.5em;
    }
  }
}

@media only screen and (max-width: $xsmall-screen - 1) {
  div.page {
    padding: 20px 7px;
  }
  img.right {
    float: none !important;
    display: block;
    text-align: center;
    margin: 0 auto 1em auto;
  }
}
