/* IE upgrade overlay */
/* line 2, base.css.scss */
#ie-warning-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  filter: alpha(opacity=90);
  background-color: #f1f1f1; }
  /* line 12, base.css.scss */
  #ie-warning-overlay #ie-warning {
    position: relative;
    z-index: 2001;
    border: black 1px solid;
    padding: 20px;
    background-color: #fff;
    color: #4f4f4f;
    font-family: 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    list-style-type: none;
    margin: 50px auto;
    width: 650px;
    height: 300px; }
    /* line 25, base.css.scss */
    #ie-warning-overlay #ie-warning h1 {
      margin-bottom: 0.5em; }
    /* line 29, base.css.scss */
    #ie-warning-overlay #ie-warning ul {
      padding: 0;
      margin: 0 auto;
      list-style: none none outside; }
      /* line 34, base.css.scss */
      #ie-warning-overlay #ie-warning ul li {
        background: url('/images/browser_warning_bg.gif') no-repeat left top;
        float: left;
        margin: 0 5px;
        width: 120px;
        height: 122px;
        cursor: pointer; }
        /* line 42, base.css.scss */
        #ie-warning-overlay #ie-warning ul li a {
          display: block;
          width: 120px;
          height: 122px;
          cursor: pointer; }
        /* line 49, base.css.scss */
        #ie-warning-overlay #ie-warning ul li img {
          margin: 0 10px;
          width: 100px;
          height: 100px; }
        /* line 55, base.css.scss */
        #ie-warning-overlay #ie-warning ul li p {
          font-size: 0.8em;
          margin: 0 auto;
          width: 120px;
          color: #808080;
          line-height: 17px;
          height: 18px;
          text-align: center; }

/* Lists */
/* line 70, base.css.scss */
ul.plain, ol.plain {
  list-style: none;
  padding-left: 0; }
  /* line 73, base.css.scss */
  ul.plain li, ol.plain li {
    margin-top: 0.5em; }

/* Misc */
/* line 79, base.css.scss */
.clear {
  clear: both; }
