---
pageable: true
per_page: 12
---
<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current"><a href="<%= tag_path tagname %>"><%= tagname %></a></li>
</ul>

<div class="articles">
  <% page_articles.each_with_index do |article, i| %>
    <% if i > 0 %>
      <hr />
    <% end %>
    <%= partial '/blog/article', :locals => {:article => article, :digest => true} %>
  <% end %>
</div>
