<% content_for :javascripts do %>
  <%= javascript_include_tag "jquery.validate" %>
<% end %>

<% content_for :onready do %>
  $('#contact_name').focus();

  // validate and submit the form
  $('#contact_form').validate({
    submitHandler: function(form) {
      // Attach onload to iframe for user feedback
      $('#google_form').on('load', function() {
        $('div.alert-box.success').fadeIn('slow');
        form.reset();
      });
      form.submit();
    }
  });
<% end %>
<div class="row">
  <div class="nine columns">
    <p>I'd love to hear from you, don't be shy!</p>
    <div class="alert-box success" style="display:none;">Thank you for reaching out. I will be in touch as soon as possible. <a href="" class="close">&times;</a></div>
    <iframe name="google_form" id="google_form" src="" style="display:none" width="0" height="0">Loading...</iframe>
    <form id="contact_form" target="google_form" action="https://docs.google.com/a/mattolson.com/forms/d/10BEnn-f4WmHrPgMDlEQBZi6PMPifoFU_pMSgO-ok4Aw/formResponse?embedded=true" method="POST" class="nice">
      <input type="hidden" name="draftResponse" value="[]" />
      <input type="hidden" name="pageHistory" value="0" />

      <label for="contact_name">Your Name</label>
      <input type="text" class="input-text required" id="contact_name" name="entry.1052854003" />

      <label for="contact_email">Your Email Address</label>
      <input type="text" class="input-text required" id="contact_email" name="entry.1019827916" />

      <label for="message_subject">Subject</label>
      <input type="text" class="input-text" id="message_subject" name="entry.619695552" />

      <label for="message_body">Message</label>
      <textarea class="input-text required" id="message_body" name="entry.662893370" rows="6"></textarea>

      <input type="submit" value="Send Message" class="button radius" />
    </form>
  </div>
</div>
